/* -------------------------------SIGNIN COMPONENT------------------------------- */

.signin-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signin-container
{
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-text
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.874);
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.signin-welcome-text
{
    color: rgb(160, 160, 160);
    margin-bottom: 30px;
}

.signup-login-tab
{
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.612);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.signup-tab, .login-tab
{
    height: 40px;
    flex: 1;
    background: none;
    border: none;
    font-weight: 550;
    border: 2px solid transparent;
    border-radius: 10px;
    color: rgb(159, 159, 159);
}

.signup-tab:hover, .login-tab:hover
{
    cursor: pointer;
    color: white;
    transition-duration: 200ms;
}

.signup-tab:focus, .login-tab:focus
{
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(28, 28, 60, 0.612);
    color: white;
}

.signin-input-container
{
    height: 170px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signin-email-input, .signin-password-input
{
    outline: none;
    height: 45px;
    width: 300px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    border: 2px solid rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    color: white;
}

.signin-email-input:focus, .signin-password-input:focus
{
    transition-duration: 200ms;
    border: 2px solid rgb(109, 73, 206);
}

.signin-email-input::placeholder, .signin-password-input::placeholder
{
    color: white;
}

.signin-button
{
    height: 40px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.signin-button:hover
{
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signin-button:focus
{
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.initial-current-state
{
    opacity: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.signin-current-state
{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* -------------------------------SIGNUP COMPONENT------------------------------- */


.signup-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signup-container
{
    height: 500px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-text
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.874);
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.signup-welcome-text
{
    color: rgb(160, 160, 160);
    margin-bottom: 30px;
}

.signup-login-tab
{
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.612);
    border-radius: 10px;
    width: 300px;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.signup-tab, .login-tab
{
    height: 40px;
    flex: 1;
    background: none;
    border: none;
    font-weight: 550;
    border: 2px solid transparent;
    border-radius: 10px;
    color: rgb(159, 159, 159);
}

.signup-tab:hover, .login-tab:hover
{
    cursor: pointer;
    color: white;
    transition-duration: 200ms;
}

.signup-tab:focus, .login-tab:focus
{
    border: 2px solid white;
    border-radius: 10px;
    background: rgba(28, 28, 60, 0.612);
    color: white;
}

.signup-input-container
{
    height: 170px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signup-email-input, .signup-password-input, .signup-firstName-input, .signup-lastName-input
{
    outline: none;
    height: 45px;
    width: 300px;
    font-size: 15px;
    padding: 5px;
    padding-left: 12px;
    border: 2px solid rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    color: white;
}

.signin-email-input:focus, .signin-password-input:focus
{
    transition-duration: 200ms;
    border: 2px solid rgb(109, 73, 206);
}

.signin-email-input::placeholder, .signin-password-input::placeholder
{
    color: white;
}

.signup-button
{
    height: 40px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.signup-button:hover
{
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signup-button:focus
{
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signup-current-state
{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/* -------------------------------DASHBOARD COMPONENT------------------------------- */

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  background-color: black;
}

.dashboard
{
    height: 100vh;
    width: 100vw;
    pointer-events: none;
}

.upload-file-container
{
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 50px;
}

.option-wrapper 
{
  position: relative;
  width: 40px;
  height: 48px;
  pointer-events: auto;
}

.option-image 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 40px;
  transition: opacity 0.5s ease-in-out;
}

.option-image.hidden 
{
  opacity: 0;
}

.upload-show-container
{
    background-color: rgb(15, 15, 42);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
    right: 60px;
    top: 90px;
    height: 200px;
    border-radius: 10px;
}

.file-input-container
{
    display: flex;
    justify-content: center;
    align-items: end;
}

.input-container
{
    position: relative;
    pointer-events: auto;
    width: 100px;
}

.file-expiry-container
{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: white;
}

.file-expiry-input
{
    pointer-events: auto;
}

.button-container
{
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.upload-button
{
    color: white;
    background-color: blue;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    width: 100%;
}

.files-container
{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-self: center;
    align-content: center;
    color: white;
}

.file-container
{
    height: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 10px white;
    border: 1px solid rgb(164, 164, 164);
}

.file-preview-container
{
    position: absolute;
    height: 700px;
    width: 700px;
    position: fixed;
    z-index: 2;
}

.file-info-detail
{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expiry-date
{
    font-size: 13px;
    color: red;
}

.eye-image
{
    height: 20px;
    width: 20px;
    pointer-events: auto;
}

.dot-image
{
    height: 20px;
    width: 20px;
    pointer-events: auto;
}

.share-file
{
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-input
{
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    outline: none;
}

.share-button
{
    cursor: pointer;
}

.nofile-container
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
}