/* -------------------------------SIGNIN COMPONENT------------------------------- */

.signin-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signin-container
{
    height: 250px;
    width: 500px;
    display: grid;
    grid-template-rows: 40px 100px 20px 40px 20px;  
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.signin-text
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.874);
    font-size: 35px;
    font-weight: bolder;
}

.welcome-text
{
    color: wheat;
}

.signin-input-container
{
    height: 80px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signin-email-input
{
    outline: none;
    height: 45px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    color: white;
}

.signin-password-input
{
    outline: none;
    height: 45px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.603);
    border-radius: 5px;
    color: white;
}

.signin-current-state
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.signin-button
{
    height: 30px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 255);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 40px;
}

.signin-button:hover
{
    transform: scale(1.1);
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signin-button:focus
{
    transform: scale(1.1);
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signup-in-signin
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-in-signin-text
{
    font-size: 15px;
    color: white;
}

.signup-in-signin-link
{
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(110, 110, 255);
    font-size: 20px;
}

.signup-in-signin-link:hover
{
    transform: scale(1.1);
    color: blue;
    transition-duration: 300ms;
}

/* -------------------------------SIGNUP COMPONENT------------------------------- */


.signup-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signup-container
{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-rows: 40px 150px 20px 40px 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
    justify-content: center;
    align-items: center;
}

.signup-text
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bolder;
    color: white;
}

.signup-input-container
{
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup-email-input
{
    outline: none;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

.signup-password-input
{
    outline: none;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

.signup-firstName-input
{
    outline: none;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

.signup-lastName-input
{
    outline: none;
    height: 35px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

.signup-current-state
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.signup-button
{
    height: 30px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 53, 255);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px solid white;
    border-radius: 40px;
}

.signup-button:hover
{
    transform: scale(1.1);
    background-color: rgb(53, 53, 255);
    transition-duration: 300ms;
    cursor: pointer;
}

.signup-button:focus
{
    transform: scale(1.1);
    background-color: rgb(3, 3, 229);
    transition-duration: 300ms;
    cursor: pointer;
}

.signin-in-signup
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.signin-in-signup-text
{
    font-size: 15px;
}

.signin-in-signup-link
{
    margin: 5px;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(110, 110, 255);
    font-size: 20px;
}

.signin-in-signup-link:hover
{
    transform: scale(1.1);
    color: blue;
    transition-duration: 300ms;
}

/* -------------------------------DASHBOARD COMPONENT------------------------------- */

.dashboard
{
    height: 100%;
    width: 100%;
}

.upload-file-container
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-input-container
{
    display: flex;
    justify-content: center;
    align-items: end;
}

.input-container
{
    position: relative;
    z-index: 20;
    width: 100px;
    border: 2px solid yellow;
    opacity: 0;
}

.input-cover
{
    position: absolute;
    z-index: 0;
    width: 100px;
    color: white;
    cursor: pointer;
    color: rgb(198, 198, 198);
}

.file-expiry-container
{
    display: flex;
    width: 300px;
    justify-content: space-between;
    color: yellow;
}

.upload-button
{
    color: yellow;
    cursor: pointer;
}

.files-container
{
    display: flex;
    flex-direction: column;
    color: yellow;
}

.file-container
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgb(164, 164, 164);
}

.share-file
{
    cursor: pointer;
}

.sharing-component
{
    position: relative;
    top: -20px;
    left: 50px;
    height: 2px;
}

.share-button
{
    cursor: pointer;
}